.pr {
  font-size: 30px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
 
   .imgRoland{
      width: 70%;
      
    }
    .ofertaContainer {
      
      text-align: center;
    }
    
}
