
#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  
  background-color: rgb(128, 130, 152);
  
}





  

/* .imgBody{
  display: block;
position: relative;
left: 300px;
top: 100px;
  width: 60%;
  
}
.imgBody:hover{
  transition: 1.5s;
  transform: scale(1.1 , 1.1);
}
 */














